.footer {
	background-color: $footer-bg;
    color: $footer-text;
    font-size: 14px;
    padding: 35px 0 30px;

    @include media(w768) {
        padding: 25px 0 20px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include media(w1024) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__text {
        font-weight: 300;

        @include media(w1024) {
            text-align: center;
        }
    }
    
    &__block {
        display: flex;

        &_social {
            flex-direction: column;

            @include media(w1024) {
                margin-bottom: 10px;
            }
        }

        &_contacts {
            flex-direction: column;
            align-items: flex-end;

            @include media(w1024) {
                align-items: center;
            }
        }

        &_info {
            flex-direction: column;
        }
    }

    &__link {
        transition: $trans;
        color: $footer-text;
        text-decoration: none;

        &:hover {
            color: white;
        }

        &_politic {
            text-decoration: underline;

            @include media(w1024) {
                margin-bottom: 10px;
            }
        }

        &_getcall {
            border-bottom: 1px dotted currentColor;
            font-size: 17px;

            @include media(w1024) {
                display: inline-block;
            }
        }

        &_mail {
            margin-left: 5px;

            @include media(w1024) {
                margin-bottom: 10px;
            }
        }
    }

    &__social {
        display: flex;
        align-items: center;

        @include media(w1024) {
            flex-direction: column;
        }
    }

    &__social-title {
        margin-right: 10px;

        @include media(w1024) {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    &__social-item {
        background-color: #9b9b9b;
        border-radius: 50%;
        display: inline-block;
        font-size: 14px;
        text-align: center;
        margin-right: 4px;
        height: 24px;
        width: 24px;

        &:before {
            content: "";
            display: inline-block;
            visibility: hidden;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &__social-link {
        display: inline-block;
        vertical-align: middle;
        color: white;
        line-height: 0.8;
    }

    &__phone {
        background-position: left center;
        background-repeat: no-repeat;
        font-size: 30px;
        line-height: 1;
        transition: $trans;
        color: $footer-text;
        text-decoration: none;

        &:hover {
            color: white;
        }

        @include media(w1024) {
            font-size: 26px;
            margin-right: 0;
        }
    }
}