a {
    display: inline-block;
    transition: $trans;
}

.link {
    text-decoration: none;

    &_getcall {
        border-bottom: 2px dotted currentColor;
        color: white;
        font-size: 14px;

        @include media(w1024) {
            
        }

        @include media(w768) {
            
        }
    }
}