.thanks {
    background-image: url("../img/sec1-bg.png"), $blue-grad;
    overflow: hidden;

    @include media(w1024) {
        
    }

    &__heading {
        font-weight: bold;
        font-size: 54px;
        text-transform: uppercase;
        padding-bottom: 0.4em;

        @include media(w1024) {
            font-size: 40px;
        }

        @include media(w768) {
            font-size: 30px;
        }
    }

    &__title {
        font-size: 58px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 40px;
        }

        @include media(w768) {
            font-size: 30px;
        }
    }

    &__subtitle {
        font-size: 38px;
        margin-bottom: 1em;

        @include media(w1024) {
            font-size: 30px;
        }

        @include media(w768) {
            font-size: 20px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 30px;
        width: 100%;

        @include media(w768) {
            flex-direction: column;
        }
    }

    &__buttons-link {
        color: white;
        font-size: 30px;
        margin-left: 60px;

        @include media(w768) {
            font-size: 20px;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__btn {
        justify-content: center;
    }
}