.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-header-logo {
	font-size:(75/10)*1rem;
	width:(605.8/75)*1em;
}
.icon-icon-download {
	font-size:(30.7/10)*1rem;
	width:(32/30.7)*1em;
}
.icon-sec5-icon1 {
	font-size:(129.8/10)*1rem;
	width:(66.7/129.8)*1em;
}
.icon-sec5-icon2 {
	font-size:(119.5/10)*1rem;
	width:(110.7/119.5)*1em;
}
.icon-sec5-icon3 {
	font-size:(103/10)*1rem;
	width:(103/103)*1em;
}
.icon-sec5-icon4 {
	font-size:(94.5/10)*1rem;
	width:(86.5/94.5)*1em;
}
.icon-sec5-icon5 {
	font-size:(97.1/10)*1rem;
	width:(101.5/97.1)*1em;
}
.icon-sec5-icon6 {
	font-size:(100/10)*1rem;
	width:(96.5/100)*1em;
}
