footer.footer
    div.container.footer__container
        div.footer__block.footer__block_social
            p.footer__text.footer__text_copy.
                © 2017, «Платформа»
            div.footer__social
                p.footer__social-title.mb0.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/loftsamara" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="https://www.facebook.com/LOFTSamara" target="_blank").footer__link.footer__social-link
                            i.fa.fa-facebook
                    li.footer__social-item
                        a(href="https://www.instagram.com/loftsamara" target="_blank").footer__link.footer__social-link
                            i.fa.fa-instagram
        div.footer__block.footer__block_info
            p.footer__text.
                Наш офис: Оренбург, пр. Гагарина, 43/6
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика конфиденциальности
        div.footer__block.footer__block_mail
            |e-mail:
            a(href="mailto:platformarf@mail.ru").footer__link.footer__link_mail.
                platformarf@mail.ru
        div.footer__block.footer__block_contacts
            a(href="tel:89258401050" data-phone="89258401050").footer__phone.
                8 925 840 10 50
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок