header.header
    div.container.header__container
        div.header__item.header__item_logo
            a(href="/").header__logo
                img(src="img/header-logo.png", alt="").header__logo-img
            p.text.text_s.color-white.mb0.header__descr-pc.
                Креативный центр с доходом 1,4 млн в год,<br> готовый к открытию в любом городе
        div.header__item.header__item_contacts
            a(href="tel:88006005030" data-phone="88006005030").header__link.header__link_phone.phone.
                8 800 600 50 30
            a(href="").header__link.link.link_getcall.js-small-btn.
                Заказать звонок