section.sec.sec1
    include header
    div.container.ta-center.color-white
        div.sec1__border.sec1__border_top
            p.text.text_l.mb1.
                Обеспечьте «творцов» вашего города удобной площадкой для работы и мероприятий
        h2.mb1.
            начните зарабатывать от 160 000 р в месяц
        div.sec1__border.sec1__border_bottom
            a(href="").btn-round.btn-round_download.js-small-btn.sec1__border-btn.
                Скачать презентацию
            img(src="img/sec1-table.png", alt="").sec1__border-img