section.sec.sec2
    div.container
        h3.ta-center.mb2.
            К 2020 году в мире откроется более 26 тысяч креативных площадок: антикафе и коворкингов
        div.sec__row
            div.sec__col.sec__col_half
                div.sec__photo-container
                    img(src="img/sec2-big-photo.jpg", alt="").sec__photo
                    img(src="img/sec2-small-photo.jpg", alt="").sec__photo.sec__photo_top
            div.sec__col.sec__col_half
                div.sec__tborder
                    p.sec__part.
                        ФАКТ
                    p.text.text_m.bold.color-blue.
                        Спрос на креативные площадки увеличивается, как и объём рынка:
                    p.text.text_m.bold.color-red.
                        от 15 до 25% в год
                    img(src="img/sec2-aircraft.png", alt="").sec__img
                div.sec__text
                    p.text.text_s.mb2.
                        Антикафе и коворкинги – современная замена душным офисам.
                    p.text.text_s.mb2.
                        В них творческие люди и компании проводят свободное время, организовывают мероприятия и работают в кругу «своих».
                    p.text.text_s.mb2.
                        С каждым годом число таких людей растёт, как и число организуемых мастер-классов, семинаров и других активностей.