section.sec.sec3
    div.container.ta-center
        h3.mb2.
            Креативный досуговый центр «Платформа» — идеальная бизнес-модель такой площадки
        p.text.text_s.
            С 2014 года мы открыли уже три досуговых центра
        p.text.text_m.color-blue.semibold.mb2.
            Ключевая их особенность в том, что каждый из них сочетает в себе сразу 4 зоны:
        div.sec3__list
            div.sec3__list-item
                img(src="img/sec3-img1.jpg", alt="").sec3__list-img
                p.text.text_s.
                    Общую зону для отдыха и общения с поминутной тарификацией
            div.sec3__list-item
                img(src="img/sec3-img2.jpg", alt="").sec3__list-img
                p.text.text_s.
                    Общую зону для отдыха и общения с поминутной тарификацией
            div.sec3__list-item
                img(src="img/sec3-img3.jpg", alt="").sec3__list-img
                p.text.text_s.
                    Коворкинг - рабочую зону для специалистов разных сфер
            div.sec3__list-item
                img(src="img/sec3-img4.jpg", alt="").sec3__list-img
                p.text.text_s.
                    Отдельные помещения для любых нужд гостей
    div.sec__circle.sec3__circle