section.sec.sec4
    div.container.color-white
        div.sec4__row
            div.sec4__col.sec4__col_left
                img(src="img/sec4-people.png", alt="").sec4__img
            div.sec4__col.sec4__col_right
                p.text.text_s.
                    Нашими гостями стали более 280 000 человек, для которых мы организовали больше тысячи мероприятий.
                p.text.text_xl.bold.
                    Уникальный формат и отсутствие прямых конкурентов позволяет нам делать
                p.text.text_xxl.color-red.sec4__text-border.bold.
                    800 000 руб. выручки каждый месяц
                a(href="").btn-round.btn-round_size.js-small-btn.
                    Скачать презентацию
            