section.sec.sec5
    div.container.ta-center
        h3.sec5__heading.
            Станьте нашим партнёром
        p.text.text_xl.bold.mb2.
            откройте креативную площадку «Платформа» в своём городе!
        p.text.text_m.color-blue.semibold.mb0.
            Мы подготовили для вас франшизу, в которую включено всё:
        div.sec5__list
            div.sec5__list-item
                img(src="img/sec5-icon1.svg", alt="").sec5__list-img
                p.text.text_s.
                    Пошаговая инструкция по запуску бизнеса, проверенная на трёх наших филиалах
            div.sec5__list-item
                img(src="img/sec5-icon2.svg", alt="").sec5__list-img
                p.text.text_s.
                    Рекламные материалы, которые приводят нам в среднем 1500 клиентов каждый месяц
            div.sec5__list-item
                img(src="img/sec5-icon3.svg", alt="").sec5__list-img
                p.text.text_s.
                    Права на использование бренда «Платформа»
            div.sec5__list-item
                img(src="img/sec5-icon4.svg", alt="").sec5__list-img
                p.text.text_s.
                    Вся документация для законной деятельности
            div.sec5__list-item
                img(src="img/sec5-icon5.svg", alt="").sec5__list-img
                p.text.text_s.
                    Фирменный стиль и дизайн-материалы
            div.sec5__list-item
                img(src="img/sec5-icon6.svg", alt="").sec5__list-img
                p.text.text_s.
                    Консультация по дизайн-проекту для вашего пространства
        p.text.text_s.sec5__bottom-text.
            Мы поможем выбрать помещение, провести ремонт и закупить оборудование, нанять и обучить сотрудников. Вы избежите типичных проблем начинающих предпринимателей.