section.sec.sec6
    div.container
        div.sec6__inner
            div.sec__circle.sec6__circle
        div.sec6__row
            div.sec6__col.sec6__col_left
                img(src="img/sec6-case.png", alt="").sec6__img
            div.sec6__col.sec6__col_right
                p.text.text_m.color-red.bold.
                    Вы заработаете<br> от 118 000 рублей
                p.text.text_m.color-blue.bold.mb1.
                    чистой прибыли уже на пятый месяц работы, и будете расти на 25-30% в год
                a(href="").btn-round.js-small-btn.
                    Узнать подробнее