section.sec.sec7
    div.container
        div.sec__row
            div.sec__col.sec__col_half
                div.sec__photo-container
                    img(src="img/sec7-big-img.jpg", alt="").sec__photo
                    img(src="img/sec7-small-img.jpg", alt="").sec__photo.sec__photo_top
            div.sec__col.sec__col_half
                div.sec__tborder
                    h3.
                        На открытие<br> вам потребуется 
                    p.text.text_m.bold.color-blue.
                        3,4 млн рублей инвестиций<br>
                        и 4 месяца вашего времени
                    img(src="img/sec7-mountain.png", alt="").sec__img.sec7__sec-img
                div.sec__text
                    p.text.text_s.mb2.
                        Сохраните себе финансовую таблицу бизнеса, чтобы узнать прогнозируемый срок окупаемости, стадии затрат и другие важные показатели
                    a(href="").btn-round.js-small-btn.
                        Скачать финансовую таблицу