section.sec.sec8
    div.container
        h3.color-white.ta-center.bold.sec8__title.
            Готовы открыть культовую площадку для творческой молодёжи
        p.text.text_xl.color-white.ta-center.bold.mb2.
            и заработать на этом полтора миллиона рублей за год?
        include bottom-form
            